.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        test
      .main-header__left-box__member-list
        Member:takuya

    .main-header__edit-btn
      = link_to "Edit","#"
      

  .messages
    .messages__message
      .messages__message__upper-info
        .messages__message__upper-info__talker
          takuya
        .messages__message__upper-info__date
          2020/6/21(Sun) 3:20:20
      .messages__message__text
        おはよう！

  .form
    .form__space
      .form__space__new-message
        type a message
      .form__space__new-image
        %label{class: "input-box__image"}
          =icon('far','image',class: 'image-icon')
          %input{type: "file"}

    .form__send-btn
      Send
      