.chat-side
  .side-header
    .side-header__box
      .side_header__box__user-name
        takuya
      .side_header__box__menu
        =icon('fas','edit', class: 'menu-icon')
        =icon('fas','cog', class: 'menu-icon')
  
  .groups
    .groups__group
      .groups__group__name
        techcamp
      .groups__group__message
        まだメッセージはありません