.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        takuya
      .side-header__box__menu
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog
  
  .groups
    .groups__group
      .groups__group__name
        techcamp
      .groups__group__message
        まだメッセージはありません